[Unit]
Description=Refresh Chrony status for NTP Dashboard

[Timer]
OnBootSec=10s
OnUnitActiveSec=60s
Unit=ntp-collector.service

[Install]
WantedBy=timers.target
